<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mad.budgetapplication">

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="Money Assistant"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mad.budgetapplication.SharedWalletDetailsActivity"></activity>
        <activity android:name="com.mad.budgetapplication.JoinWalletActivity" />
        <activity android:name="com.mad.budgetapplication.SharedWalletActivity" />
        <activity android:name="com.mad.budgetapplication.CreateSharedWalletActivity" />
        <activity android:name="com.mad.budgetapplication.SupportActivity" />
        <activity android:name="com.mad.budgetapplication.WalletFormActivity" />
        <activity android:name="com.mad.budgetapplication.ChangeUsernameActivity" />
        <activity android:name="com.mad.budgetapplication.HomeActivity" />
        <activity android:name="com.mad.budgetapplication.LoginActivity" />
        <activity android:name="com.mad.budgetapplication.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mad.budgetapplication.NotificationBroadcast" />
    </application>

</manifest>